extends layout

block content
  .container
    .page-header
      h1 PDF generate
    .panel.panel-primary
      .panel-heading
        h1.panel-title PDF Report menus
      ul
        li
          .btn.btn-link Simple
        li
          .btn.btn-link Amazon

    .panel.panel-success
      .panel-body
        基本パネル例


    .color-test
      背景色カラーテスト
